APP_URL=http://localhost:3002
SERVER_URL=http://localhost:8787
BANATA_API_KEY=
BANATA_AUTH_URL=https://auth.banata.dev
VITE_BANATA_CLIENT_ID=
VITE_BANATA_HOSTED_AUTH_URL=https://auth-ui.banata.dev
PORT=8787
